<header id="site-header">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand" href="./index.html">
        <img
          src="./assets/images/logoStackly.webp"
          alt="MediCare Logo"
          height="40"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarMain"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarMain">
        <ul
          class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-lg-center gap-lg-1"
        >
          <li class="nav-item">
            <a class="nav-link" href="./index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./pages/about-us.html">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./pages/departments.html">Department</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./pages/doctors.html">Our Doctors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./pages/blog.html">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./pages/contact.html">Contact</a>
          </li>
          <li class="nav-item ms-lg-3">
            <a
              href="#"
              class="btn btn-primary btn-appointment px-4 rounded-pill"
              ><i class="fas fa-calendar-check me-2"></i>Book Appointment</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
